@value primary,text,secondary,secondaryDark from '../../common/colors.css';

.header {
	width: 100%;
	padding: 1.2em;
	text-align: center;
	position: relative;
	background-color: primary;
}

.logo {
	width: 2.5em;
}

.title {
	color: text;
	margin: 0;
}

.logout {
	position: absolute;
	top: 1em;
	right: 2em;
	padding: 0.8em;
	background-color: secondary;
	color: text;
	font-weight: bold;
	border-radius: 5em;
	outline: none;
	border: 0;
	cursor: pointer;
}

.logout:hover {
	opacity: 0.8;
}
