@value primary,text,secondary,secondaryDark from '../../common/colors.css';

.footer {
	width: 100%;
	padding: 0.8em;
	background-color: primary;

	display: flex;
	justify-content: center;
	align-items: center;
}

.name,
.icon {
	color: text;
}

.name {
	font-size: 1.2em;
}

.icon {
	font-size: 2em;
	margin-left: 0.2em;
	transition: color 200ms ease-in;
}

.icon:hover {
	opacity: 0.8;
}
