@value makerLightGrey,makerGrey,primary,primaryDark,text,secondary,secondaryDark from '../../common/colors.css';

.movie_section {
	flex-basis: 50%;
	border-right: 1px solid makerLightGrey;
	overflow-y: auto;
}

.title {
	text-align: center;
	font-size: 1.4rem;
}

.form {
	display: flex;
	margin: 0em 1.2em;
}

.input {
	flex: 1 1 89%;
	font-size: 1.2rem;
	padding: 0.2em;
	outline: 0;
	border: 1px solid makerLightGrey;
}

.button {
	cursor: pointer;
	flex: 1 1 10%;
	border: 0;
	background-color: makerLightGrey;
	border-radius: 0 0.2em 0.2em 0;
}

.container {
	margin: 2em 1.2em;
}
