@value makerLightPink, makerLightGrey, makerGrey, makerShadow from '../../common/colors.css';

.movie {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 0.8em;
	border: 1px solid makerLightGrey;
	box-shadow: 6px 6px 8px 0px makerShadow;
	transition: transform 200ms ease-in;
}

.movie:hover {
	transform: scale(1.02);
	background: makerLightPink;
}

.title,
.info {
	padding: 0 1.2em;
}

.nameKR,
.nameENG {
	margin: 0;
}

.nameKR {
	margin-top: 1.02em;
}

.nameENG {
	margin-top: 0.4em;
	color: makerGrey;
}

.info {
	width: 100%;
	margin: 0.8em 0 1em 0;
	display: flex;
	flex-wrap: wrap;
	font-size: 0.92rem;
}

.year,
.nation,
.genre,
.director {
	margin: 0;
	padding-top: 0.2em;
}

.nation::before,
.genre::before,
.director::before {
	content: '|';
	display: inline;
	color: makerLightGrey;
	padding: 0 0.8em;
}
